{% load static%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password</h2>
    <form action="{% url 'password_reset_form' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <input type="submit" value="Reset Password">
    </form>
    <p>Remembered your password? <a href="{% url 'sign_in' %}">Sign In</a></p>
</body>
</html>
{% endblock %}